<div class="page-content">
    <main class="app-container">
        <div class="community-header">
            <h1 class="community-title">Community Events</h1>
            <p class="community-subtitle">Stay informed about the latest developments, events, and stories from our
                local community</p>
        </div>
        <div id="newsFeed">

            <div class="news-post">
                <div class="post-header">
                    <img src="" alt="Post Image" class="post-avatar" loading="lazy">
                    <div class="post-info">
                        <strong>
                        </strong><br>
                        <span class="post-date">

                        </span>
                    </div>
                    <strong class="elipse">...</strong>
                </div>
                <img src="" class="post-image" alt="News Image">
                <div class="post-description">
                    <h2 class="post-title">

                    </h2>
                    <p class="post-excerpt">

                    </p>
                    <span class="read-more" onclick="toggleReadMore(this)">Read more</span>
                </div>
            </div>
        </div>
    </main>
</div>
